---
# Only the main Sass file needs front matter (the dashes are enough)
---
// This file contains styles specific to the style guide itself. Styles placed here are not imported into the downloadable files.

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize";
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "grid";
@import "accessibility";
@import "forms";
@import "typography";
@import "code-syntax";
@import "tables";
// end imports

// style guide index
.ugd-into {
  background-image: linear-gradient(-134deg, #00BFE7 0%, #05E1F5 100%);
  color: white;
  height:calc(100vh - 80px);

  .row {
    margin-top: 51px;
  }

  h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
    line-height: 74px;
    margin: 0;
    padding-top: 179px;
  }
}

small {
  @include shift(3);
  @include span-columns(4);
  font-size: 14px;
  letter-spacing: 0.15px;
  margin-top: 12px;
  text-align: center;
}

p.index-description {
  font-size: 36px;
  line-height: 48px;
  margin: 0;
  padding-top: 9px;
}

.button {
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  width: 243px;
}

.button-blue {
  @include span-columns(3);
  background: #244A61;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  color: white;

  &:hover {
    background-color: #13365e;
  }
}

.button.button-download {
  @include span-columns(4);
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.18px;
  width: 324px;
}

.button-download::before {
  color: black;
  content: '\f019';
  font-family: 'FontAwesome';
  position: relative;
  right: 17px;
}
// end style guide index

// style guide header
header {
  background-color: #244A61;
  color: white;
  height: 80px;

  .wrapper {
    & > * {
      display: inline-block;
    }

    p {
      font-size: 24px;
      letter-spacing: 0px;
      line-height: 80px;
      margin: 0;

      &:last-child {
        padding-left: 94px;
      }
    }
  }
}

#govau-logo {
  font-size: 40.5px;
}

#star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 53px;
  margin-left: 13px;
  position: relative;
  top: 14px;
  width: 53px;
}
// end style guide header

// style guide navigation
nav.primary {
  background: #F0F3F5;
  height: 65px;

  .nav-link {
    display: inline-block;

    &:hover {
      background: rgba(155,154,155,0.08);
    }

    a {
      color: #244A61;
      font-size: 16px;
      line-height: 65px;
      padding: 20px 40px;
      text-decoration: none;

      &:hover {
        border-bottom: 4px solid #244A61;
        text-shadow: 1px 0 0 black;
      }
    }
  }
}

.navigation-menu {
  margin: 0;
}
// end style guide navigation

// style guide secondary navigation

nav.secondary {
  @include span-columns(3);
  margin-top: 108px;

  ul {
    list-style: none;

    li.nav-item {
      border-left: 2px solid white;
      border-top: 1px solid rgba(34,44,53,0.20);
      height: 48px;
      line-height: 48px;

      &:hover, &:active {
        background: #F0F3F5;
        border-left: 2px solid black;
        color: #000000;
        letter-spacing: 0.07px;
        text-shadow: 1px 0 0 black;
      }

      a {
        margin-left: 16px;
        text-decoration: none;
        &:hover, &:active, &:visited {
          color: #000000;
        }
      }
    }
  }

  ul.sub-nav {
    padding-left: 0;

    li {
      a {
        margin-left: 35px;
      }
    }
  }
}
// end style guide secondary navigation

// style guide info panel
.accordion {
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-color: white !default;
  $accordion-menu-background: #232D35;
  $accordion-menu-sub-background: #F0F3F5;
  $accordion-menu-list-padding: ($base-spacing / 2) $gutter;

  background-color: $accordion-menu-background;
  margin: 0 0 $base-spacing 0;
  padding: 0;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    &.accordion-heading:after {
      color: white;
      content: '\f078';
      font-family: 'FontAwesome';
      font-size: 15px;
      right: 15px;
      top: 14px;
      position: absolute;
    }

    > a {
      color: #FFFFFF;
      display: block;
      font-family: OpenSans-Bold;
      font-size: 20px;
      padding: $accordion-menu-list-padding;
      text-decoration: none;
    }

    &:last-child {
      border: none;
    }

    p {
      margin: 0;
    }
  }

  ul.submenu {
    display: none;

    li {
      background-color: $accordion-menu-sub-background;
      padding: 20px;
    }
  }

  li.accordion-heading.is-expanded {
    display: block;
    padding-bottom: 0;

    &:after {
      transform: rotate(-180deg);
    }
  }
}
// end style guide info panel

.wrapper {
  margin: 0 auto;
  max-width: 64em;
}

.main-content {
  @include span-columns(9);
  padding-right: 40px;
}

.line-height {
  margin: auto;
  width:658px;
  padding-top: 48px;
  padding-bottom: 52px;
}

.font-variations {

  p {
    font-size: 32px;
    color: #000000;
    letter-spacing: 2.8px;
    line-height: 40px;
  }

  h4 {
    font-family: OpenSans;
    font-size: 14px;
    color: rgba(34,44,53,0.60);
    letter-spacing: 0.03px;
  }

  p:nth-child(2) {
    font-family: OpenSans-Bold;
  }

  p:nth-child(4) {
    font-family: OpenSans;
  }

  p:nth-child(6) {
    font-family: OpenSans-Light;
  }
}

.font-examples {

  span {
    font-size: 140px;
    color: black;

    &:first-child {
      font-family: OpenSans-Bold;
    }

    &:nth-child(2){
      font-family: OpenSans;
      padding-left: 30px
    }

    &:nth-child(3){
      font-family: OpenSans-Light;
      padding-left: 30px
    }
  }
}

.display-type-1 {
  font-family: OpenSans-Bold;
  font-size: 58px;
  color: #000000;
  line-height: 68px;
}

.display-type-2 {
  opacity: 0.93;
  font-family: OpenSans;
  font-size: 58px;
  color: #000000;
  line-height: 68px;
}

.display-type-heading {
  font-family: OpenSans;
  font-size: 36px;
  color: #000000;
  line-height: 40px;
}
