extends styleguide/structure/_includes/_layout
block styles
	link(href='styleguide/assets/styles/vendor/normalize.css', rel='stylesheet')
	link(href='styleguide/assets/styles/structure.css', rel='stylesheet')
	link(href='styleguide/assets/styles/styleguide.css', rel='stylesheet')
	

block content
	header
		.wrapper
			p#govau-logo GOV.AU
			#star
			p Universal design guide v1.0
	.ugd-into
		.wrapper
			h1 GOV.AU</br>Universal design guide v1.0
			p simpler, clearer, faster
			p Digital Design standards for Australian Goverment
			button.button-blue View the standards
			button.button-download Download the components
			small dowload the code and assets

block scripts
	script(src="styleguide/structure/scripts/vendor/jquery-1.11.1.min.js")
	script(src="styleguide/structure/scripts/styleguide.js")
	if !process.env.STYLEGUIDE_COMPILE
		script.
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':8374/livereload.js?snipver=1"></' + 'script>')
