h2.huge-module__title=name
#main
	section#top-row
		#red
			p this
		#orange
			p this
		#yellow
			p this
	section#middle-row
		#green
			p this
		#blue
			p this
	section#bottom-row
		#indego
			p this
