<nav class="secondary">
  <ul>
    <a>
      <li class="nav-item">
        Overview
      </li>
    </a>
    <a>
      <li class="nav-item">
        Components
      </li>
    </a>
    <li>
      <ul class="sub-nav">
        <a>
          <li class="nav-item">
            FORMS
          </li>
        </a>
        <a data-scroll href="#text-inputs">
          <li class="nav-item">
            Text inputs and area
          </li>
        </a>
        <a data-scroll href="#dropdown">
          <li class="nav-item">
            Dropdown
          </li>
        </a>
        <a data-scroll href="#date-input">
          <li class="nav-item">
            Date Input
          </li>
        </a>
        <a data-scroll href="#radio-buttons">
          <li class="nav-item">
            Radio Buttons
          </li>
        </a>
        <a data-scroll href="#checkboxes">
          <li class="nav-item">
            Checkboxes
          </li>
        </a>
        <a>
          <li class="nav-item">
            Html5 Inputs (Steppers)
          </li>
        </a>
        <a>
          <li class="nav-item">
            Error and success
          </li>
        </a>
        <a>
          <li class="nav-item">
            System feedback
          </li>
        </a>
        <a>
          <li class="nav-item">
            Help states
          </li>
        </a>
        <a>
          <li class="nav-item">
            BUTTONS
          </li>
        </a>
        <a>
          <li class="nav-item">
            Primary Buttons
          </li>
        </a>
        <a>
          <li class="nav-item">
            Secondary Buttons
          </li>
        </a>
        <a>
          <li class="nav-item">
            Switch (Toggle) Buttons
          </li>
        </a>
        <a>
          <li class="nav-item">
            MISC
          </li>
        </a>
        <a>
          <li class="nav-item">
            Status Messages
          </li>
        </a>
        <a>
          <li class="nav-item">
            Notifications
          </li>
        </a>
        <a>
          <li class="nav-item">
            Progress indicators
          </li>
        </a>
        <a>
          <li class="nav-item">
            Tables (Content)
          </li>
        </a>
        <a>
          <li class="nav-item">
            Labels
          </li>
        </a>
        <a>
          <li class="nav-item">
            Badges
          </li>
        </a>
        <a>
          <li class="nav-item">
            Tooltips
          </li>
        </a>
        <a>
          <li class="nav-item">
            Loading
          </li>
        </a>
      </ul>
    </li>
  </ul>
</nav>
