<nav class="secondary">
  <ul>
    <li class="nav-item">
      <a>Overview</a>
    </li>
    <li class="nav-item">
      <a>Components</a>
    </li>
    <li>
      <ul class="sub-nav">
        <li class="nav-item">
          <a>FORMS</a>
        </li>
        <li class="nav-item">
          <a data-scroll href="#text-inputs">Text inputs and area</a>
        </li>
        <li class="nav-item">
          <a data-scroll href="#dropdown">Dropdown</a>
        </li>
        <li class="nav-item">
          <a data-scroll href="#date-input">Date Input</a>
        </li>
        <li class="nav-item">
          <a data-scroll href="#radio-buttons">Radio Buttons</a>
        </li>
        <li class="nav-item">
          <a data-scroll href="#checkboxes">Checkboxes</a>
        </li>
        <li class="nav-item">
          <a>Html5 Inputs (Steppers)</a>
        </li>
        <li class="nav-item">
          <a>Error and success</a>
        </li>
        <li class="nav-item">
          <a>System feedback</a>
        </li>
        <li class="nav-item">
          <a>Help states</a>
        </li>
        <li class="nav-item">
          <a>BUTTONS</a>
        </li>
        <li class="nav-item">
          <a>Primary Buttons</a>
        </li>
        <li class="nav-item">
          <a>Secondary Buttons</a>
        </li>
        <li class="nav-item">
          <a>Switch (Toggle) Buttons</a>
        </li>
        <li class="nav-item">
          <a>MISC</a>
        </li>
        <li class="nav-item">
          <a>Status Messages</a>
        </li>
        <li class="nav-item">
          <a>Notifications</a>
        </li>
        <li class="nav-item">
          <a>Progress indicators</a>
        </li>
        <li class="nav-item">
          <a>Tables (Content)</a>
        </li>
        <li class="nav-item">
          <a>Labels</a>
        </li>
        <li class="nav-item">
          <a>Badges</a>
        </li>
        <li class="nav-item">
          <a>Tooltips</a>
        </li>
        <li class="nav-item">
          <a>Loading</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
