<nav class="secondary">
  <ul>
    <a href="/content-guide/a-z/a-c">
      <li class="nav-item">
        A-C
      </li>
    </a>
    <a href="/content-guide/a-z/d-f">
      <li class="nav-item">
        D-F
      </li>
    </a>
    <a href="/content-guide/a-z/g-i">
      <li class="nav-item">
        G-I
      </li>
    </a>
    <a href="/content-guide/a-z/j-l">
      <li class="nav-item">
        J-L
      </li>
    </a>
    <a href="/content-guide/a-z/m-o">
      <li class="nav-item">
        M-O
      </li>
    </a>
    <a href="/content-guide/a-z/p-r">
      <li class="nav-item">
        P-R
      </li>
    </a>
    <a href="/content-guide/a-z/s-u">
      <li class="nav-item">
        S-U
      </li>
    </a>
    <a href="/content-guide/a-z/v-x">
      <li class="nav-item">
        V-X
      </li>
    </a>
    <a href="/content-guide/a-z/y-z">
      <li class="nav-item">
        Y-Z
      </li>
    </a>
  </ul>
</nav>
