<div class="navigation-wrapper" role="banner">
  <a href="javascript:void(0)" id="js-primary-navigation-mobile-menu" class="mobile-menu">menu</a>
  <nav class="primary" role="navigation">
    <ul id="js-primary-navigation-menu" class="show">
      <li class="nav-link">
        <a href="/foundations.html">Foundations</a>
      </li>
      <li class="nav-link">
        <a href="/components.html">Components</a>
      </li>
      <li class="nav-link">
        <a href="/patterns.html">Patterns</a>
      </li>
      <li class="nav-link">
        <a href="/templates.html">Templates</a>
      </li>
    </ul>
  </nav>
</div>
