<div class="centered-navigation navigation-wrapper" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">menu</a>
    <nav class="primary" role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link">
          <a href="/foundations.html">Foundations</a>
        </li>
        <li class="nav-link">
          <a href="/components.html">Components</a>
        </li>
        <li class="nav-link">
          <a href="/patterns.html">Patterns</a>
        </li>
        <li class="nav-link">
          <a href="/templates.html">Templates</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
