<nav class="secondary">
  <ul>
    <li class="nav-item">
      <a>Overview</a>
    </li>
    <li class="nav-item">
      <a>Purpose</a>
    </li>
    <li class="nav-item">
      <a>Foundations</a>
    </li>
    <li>
      <ul class="sub-nav">
        <li class="nav-item">
          <a>Overview</a>
        </li>
        <li class="nav-item">
          <a>Design principles</a>
        </li>
        <li class="nav-item">
          <a>Grid</a>
        </li>
        <li class="nav-item">
          <a>Typography</a>
        </li>
        <li class="nav-item">
          <a>Pairings and styles</a>
        </li>
        <li class="nav-item">
          <a>Typesetting</a>
        </li>
        <li class="nav-item">
          <a>Text accessibility</a>
        </li>
        <li class="nav-item">
          <a>Links</a>
        </li>
        <li class="nav-item">
          <a>Lists</a>
        </li>
        <li class="nav-item">
          <a>Colors</a>
        </li>
        <li class="nav-item">
          <a>Iconography</a>
        </li>
        <li class="nav-item">
          <a>Layout</a>
        </li>
        <li class="nav-item">
          <a>Charts</a>
        </li>
        <li class="nav-item">
          <a>Writing style</a>
        </li>
      </ul>
  </ul>
</nav>
