
h1 {
  font-size: 48px;
  color: #232D35;
  letter-spacing: 0.36px;
  padding-top: 20px;
  margin-bottom: 0px;
}

h2 {
  font-size: 36px;
  color: #53D4EF;
  letter-spacing: 0.23px;
}

hr {
  border-bottom: 2px solid black;
  padding-top: 8px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
