.navigation-wrapper
  nav.primary(role="navigation")
    .wrapper 
      ul.navigation-menu
        li.nav-link
          a Foundations
        li.nav-link
          a components
        li.nav-link
          a Patterns
        li.nav-link
          a Templates
