nav.secondary
  ul
    li.nav-item
      a Overview
    li.nav-item
      a Purpose
    li.nav-item
      a Foundations
    li
      ul.sub-nav
        li.nav-item
          a Overview
        li.nav-item
          a Design principles
        li.nav-item
          a Grid
        li.nav-item
          a Typography
        li.nav-item
          a Pairings and styles
        li.nav-item
          a Typesetting
        li.nav-item
          a Text accessibility
        li.nav-item
          a Links
        li.nav-item
          a Lists
        li.nav-item
          a Colors
        li.nav-item
          a Iconography
        li.nav-item
          a Layout
        li.nav-item
          a Charts
        li.nav-item
          a Writing style
