.huge-header {
}

.huge-header__breakpoints__item {
  height: 101px;
  width: 120px;
  background-color: #F0F3F5;

  &:hover, &.active {
    background-color: white;
  }
}

.huge-header__breakpoints {

  ul {
    display: none;

    @media #{$bp-large} {
      display: block;
    }
  }
}

.huge-header__breakpoints__item__link {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  color: #244A61;
  letter-spacing: 0.03px;
  text-align: center;

  span {
    position: relative;
    top: -30px;
    display: block;
    color: rgba(34,44,53,0.60);
  }

  &:before {
    content: '';
    display: inline-block;
    height: 101px;
    width: 120px;
    background: center center no-repeat;
    color: #244A61
  }

  &#small:before {
    background-image: url("../../structure/images/icon_small_up.svg");
    color: #244A61
  }

  &#medium:before {
    background-image: url("../../structure/images/icon_medium_up.svg");
  }

  &#large:before {
    background-image: url("../../structure/images/icon_large_up.svg");
  }

  &#full:before {

    background-image: url("../../structure/images/icon_full.svg");
  }
}

body.opened {
  .huge-header {
    left: 240px;
    width: calc(100% - 240px);
    padding: 17px 30px 21px;
  }
}
